// Colors
$blue: #1f3b82;

// Structure
$header-height: 170px;
$footer-height: 130px;

// Paths
$img-path: '../img/';
$fonts-path: '../fonts/';

// Page margins
$page-margin-x: 55px;
$page-margin-y: 50px; //